.res_header{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6) ), url(../img/restorants/details/middle1.jpg);
    position: relative;
    min-height: 389px;
    box-sizing: border-box;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    overflow: hidden;
    /* padding-bottom: 1rem; */
}

.detailR, .titleR{
    margin-top: 2rem;
}
.detailR{
    padding-bottom: 1rem;
}