@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="pager-section text-center">
    <div class="fixed-bg bg4"></div>
    <div class="container">
        <div class="pager-head">
            <h2>Sign In</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>Sign in</span></li>
            </ul>
        </div><!--pager-head end-->
    </div>
</section><!--pager-section end-->

<section class="sec-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="delitaste-form text-center">
                    <div class="lg-text">
                        <h3>Log In</h3>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div><!--lg-text end-->
                    <form id="account" method="post">
                        <div class="form-group">
                            <input type="text" asp-for="Input.Email"  placeholder="Enter your email *" class="form-control">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div><!--form-group end-->
                        <div class="form-group">
                            <input type="password" asp-for="Input.Password"  placeholder="Password *" class="form-control">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
    
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div><!--form-group end-->
                        <div class="form-group">
                            <button type="submit" class="btn-default w-100">Log In <span></span></button>
                        </div>
                    </form>
                    <div class="btm-tx text-left">
                        <span>No account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register now</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
