<section class="sec-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="delitaste-form text-center">
                    <div class="lg-text">
                        <h3>Sign Up</h3>
                    </div><!--lg-text end-->
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="first-name" placeholder="First name *" class="form-control">
                                </div><!--form-group end-->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="last-name" placeholder="Last name *" class="form-control">
                                </div><!--form-group end-->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Phone number *" class="form-control">
                                </div><!--form-group end-->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email *" class="form-control">
                                </div><!--form-group end-->
                            </div>
                        </div>
                        <h4 class="text-left">Password:</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password *" class="form-control">
                                </div><!--form-group end-->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" name="confirm-password" placeholder="Confirm password *" class="form-control">
                                </div><!--form-group end-->
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn-default w-100">Create Account <span></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="btm-tx">
                        <span class="d-block">Already have an account? <a asp-area="" asp-controller="Auth" asp-action="Index">Log in</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
