

<section class="pager-section text-center">
    <div class="fixed-bg bg4"></div>
    <div class="container">
        <div class="pager-head">
            <h2>About us</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>About us</span></li>
            </ul>
        </div>
        <!--pager-head end-->
    </div>
</section>
<!--pager-section end-->
<section class="sec-block">
    <div class="container">
        <div class="about-us-sec">
            <div class="row">
                <div class="col-md-8">
                    <div class="about-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="abt-img">
                                    <img src="~/assets/images/res4.jpg" alt="" class="w-100">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="abt-img">
                                    <img src="~/assets/images/res5.jpg" alt="" class="w-100">
                                </div>
                            </div>
                        </div>
                        <h4>We deliver food as soon as possible. Our team works seven days a week and is always ready to answer any of your questions.</h4>
                        <p>We are a team of hardworking and friendly people who work every day on a common goal for more than 5 years. Each ctro at us begins with coffee. Together we develop, grow and relax. More than 50 restaurants and cafes cooperate with us. More than 250 employees are working to improve our service. We always work for our beloved customers and try to be on top. We have a favorable system of discounts for regular customers and good conditions for cooperation with partners.</p>
                    </div>
                    <!--about-content end-->
                </div>
                <div class="col-md-4">
                    <div class="our-proptz v2 text-center">
                        <div class="proptz">
                            <div class="propt-icon">
                                <img src="~/assets/images/icons/discount.svg" alt="">
                            </div>
                            <h3 class="semi-bold text-capitalize">Tasty Dishes</h3>
                            <p>We have a collection of tasty dishesh which you can choose of easily.</p>
                        </div>
                        <div class="proptz">
                            <div class="propt-icon">
                                <img src="~/assets/images/icons/delivery.svg" alt="">
                            </div>
                            <h3 class="semi-bold text-capitalize">Express Delivery</h3>
                            <p>The hottest food &amp; fastest delivery to any location of your city.</p>
                        </div>
                        <div class="proptz">
                            <div class="propt-icon">
                                <img src="~/assets/images/icons/food.svg" alt="">
                            </div>
                            <h3 class="semi-bold text-capitalize">10+ restaurants</h3>
                            <p>Large selection of restaurants and cafes throughout the country.</p>
                        </div>
                    </div>
                    <!--our-proptz end-->
                </div>
            </div>
        </div>
        <!--about-us-sec end-->
    </div>
</section>

